#!/usr/bin/env bash


# Utility function to check if $1 command exists
# Use example: if exists ls; then echo "Command exists."; else echo "Command does not exist."; fi
function exists() {
    cmnd=${1:?"Please supply a command to look for."}
    command -v $cmnd >/dev/null 2>&1 && { return 0; } || { return 1; }
}


function title() {
    print -Pn "\e]0;$1\a"
}

# @see https://github.com/kepkin/dev-shell-essentials/blob/master/highlight.sh
function highlight() {
    declare -A fg_color_map
    fg_color_map[black]=30
    fg_color_map[red]=31
    fg_color_map[green]=32
    fg_color_map[yellow]=33
    fg_color_map[blue]=34
    fg_color_map[magenta]=35
    fg_color_map[cyan]=36
    fg_c=$(echo -e "\e[1;${fg_color_map[$1]}m")
    c_rs=$'\e[0m'
    sed -u s"/$2/$fg_c\0$c_rs/g"
}


function grepc()
{
    pattern=$1
    shift
    if [ ! -z $2 ]; then
        esc=$(printf "\0\$2")
        shift
    else
        esc=$(printf "\033")
    fi
    sed -E 's"'"$pattern"'"'$esc'[32m&'$esc'[0m"g' "$@"
}

function r()
{
    source $HOME/.zshrc
}

function validate-yml()
{
	#!/bin/bash

	#
	# Efstathios Xagoraris <sxagoraris@gmail.com>
	# Validate YAML files using ruby
	#


	if [ $# -eq 0 ]
	  then
		echo "Please provide a yaml file as argument eg $0 file.yaml"
		exit 1
	fi

	ruby -ryaml -e "YAML.parse(File.open('${1}'))" 

	if [[ $? -ne 0 ]]
	  then
		echo "$1 is not valid YAML"
	  else
		echo "$1 is a valid YAML"
	fi
}
