*.swp
.idea
*.pyc
*.cache
.z
.vim/.netrwhist
*.sublime_session
*.ssh-agent
*.log
*.last-run
.tmux/plugins/*
.vim/bundle/*
.oh-my-zsh/custom/plugins
sublime-text-2
sublime-text-3
*.vscode
.history/*
*node_modules*
heidisql
.oh-my-zsh
.DS_Store
.idea
__pycache__
*.pyc
.projectile
.history
*.un~
