


#define BACKGROUND #1c2023
#define FOREGROUND #c7ccd1

#define COLOR0     #1c2023
#define COLOR8     #747c84

#define COLOR1     #c7ae95
#define COLOR9     #c7ae95

#define COLOR2     #95c7ae
#define COLOR10    #95c7ae

#define COLOR3     #aec795
#define COLOR11    #aec795

#define COLOR4     #ae95c7
#define COLOR12    #ae95c7

#define COLOR5     #c795ae
#define COLOR13    #c795ae

#define COLOR6     #95aec7
#define COLOR14    #95aec7

#define COLOR7     #c7ccd1
#define COLOR15    #f3f4f5


Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

! Enable the extended coloring options
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: BACKGROUND, COLOR1, FOREGROUND
!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: COLOR0, COLOR15, COLOR0, BACKGROUND, COLOR3
rofi.color-active: COLOR2, COLOR0, COLOR0, COLOR0, COLOR2
rofi.color-urgent: COLOR0, COLOR5, COLOR0, COLOR0, COLOR5
rofi.separator-style: solid
rofi.sidebar-mode: true
rofi.bw: 1
rofi.columns: 1
rofi.padding: 16

rofi.yoffset: 0
rofi.fake-transparency: false
rofi.location: 0
rofi.width: 50
rofi.font: Hasklig 12
rofi.lines: 15
rofi.fixed-num-lines: true

! ##### COLORS #####
! special
*foreground:   FOREGROUND
*background:   BACKGROUND
*cursorColor:  FOREGROUND

! black
*color0:       COLOR0
*color8:       COLOR8

! red
*color1:       COLOR1
*color9:       COLOR9

! green
*color2:       COLOR2
*color10:      COLOR10

! yellow
*color3:       COLOR3
*color11:      COLOR11

! blue
*color4:       COLOR4
*color12:      COLOR12

! magenta
*color5:       COLOR5
*color13:      COLOR13

! cyan
*color6:       COLOR6
*color14:      COLOR14

! white
*color7:       COLOR7
*color15:      COLOR15

! ##### END COLORS #####
