Xft.dpi: 96
Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintmedium
Xft.lcdfilter: lcddefault



XTerm*renderFont: true

XTerm*faceName: Iosevka\ Nerd\ Font\ Mono:style=Regular
XTerm*faceSize: 11
XTerm*eightBitInput: false
XTerm*selectToClipboard:false
XTerm*background: #000000
XTerm*saveLines: 16384
XTerm*loginShell: true
XTerm*termName: xterm-256color
XTerm*scaleHeight: 1
XTerm*ScrollBar: false

XTerm*VT100.Translations:       #override\n\
 Shift Ctrl <KeyPress> v: insert-selection(CLIPBOARD)\n\
 Shift Ctrl <KeyPress> c: copy-selection(CLIPBOARD)\n




#define BACKGROUND #000000
#define FOREGROUND #eaeaea

! Black
#define COLOR0     #000000
#define COLOR8     #666666

! Red
#define COLOR1     #fb0120
#define COLOR9     #fb0120

! Green
#define COLOR2     #52e75c
#define COLOR10    #52e75c

! Yellow
#define COLOR3     #fe5004
#define COLOR11    #fe5004

! Blue
#define COLOR4     #24c5e8
#define COLOR12    #24c5e8

! Purple / Magenta
#define COLOR5     #e254c6
#define COLOR13    #e254c6

! Cyan
#define COLOR6     #58dac1
#define COLOR14    #58dac1

! White
#define COLOR7     #eaeaea
#define COLOR15    #ffffff

#define COLOR16    #3d96b7


! ##### COLORS #####
! special
*foreground:   FOREGROUND
*background:   BACKGROUND
*cursorColor:  FOREGROUND

! black
*color0:       COLOR0
*color8:       COLOR8

! red
*color1:       COLOR1
*color9:       COLOR9

! green
*color2:       COLOR2
*color10:      COLOR10

! yellow
*color3:       COLOR3
*color11:      COLOR11

! blue
*color4:       COLOR4
*color12:      COLOR12

! magenta
*color5:       COLOR5
*color13:      COLOR13

! cyan
*color6:       COLOR6
*color14:      COLOR14

! white
*color7:       COLOR7
*color15:      COLOR15


*color16:      COLOR16


! ##### END COLORS #####
