[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=Xset repeat rate
Comment=
Exec=xset r rate 350 32
StartupNotify=false
Terminal=false
Hidden=false