[Desktop Entry]
Name=1Password
Exec=chromium --app=https://Mandy91.1password.com
StartupNotify=true
Terminal=false
Type=Application
Comment=1Password
Icon=
Categories=Application