[Desktop Entry]
Name=1Password
StartupWMClass=1Password
Exec=firefox https://Mandy91.1password.com
StartupNotify=true
Terminal=false
Type=Application
Icon=1password
Categories=Utility;
