[Desktop Entry]
Name=1Password
StartupWMClass=1Password
Exec=google-chrome --app=https://Mandy91.1password.com &&xdotool search --sync --classname 1Password set_window --class 1Password
StartupNotify=true
Terminal=false
Type=Application
Icon=1password
Categories=Utility;
