[Desktop Entry]
Name=Compton
Comment=Run compton with GLX backend and opengl-swc vsync
StartupWMClass=Compton (GLX backend)
Exec=/usr/bin/compton --config "/home/mandy/.config/compton/compton.conf"
StartupNotify=true
Terminal=false
Type=Application
Icon=terminal
Categories=Utility;
Hidden=false
