[Desktop Entry]
Name=HeidiSQL
Exec=wine /opt/heidisql/heidisql.exe
StartupNotify=true
Terminal=false
Type=Application
Icon=heidisql
Categories=Development
