[Desktop Entry]
Name=Jack Audio
Comment=Run jack audio on top of PulseAudio
Exec=/home/mandy/bin/start-jack
StartupNotify=true
Terminal=false
Type=Application
Icon=terminal
Categories=Utility;
Hidden=false
