[Desktop Entry]
Name=Scrcpy
StartupWMClass=Scrcpy
Exec=scrcpy -S
StartupNotify=true
Terminal=false
Type=Application
Icon=android-sdk
Categories=Utility;
