[Desktop Entry]
Name=Scrcpy
StartupWMClass=Scrcpy
Exec=/bin/bash -c "cd /home/mandy/src/scrcpy-docker && xhost + local:docker && docker-compose run --rm -T scrcpy scrcpy -S; sleep 3"
StartupNotify=true
Terminal=true
Type=Application
Icon=android-sdk
Categories=Utility;
