[Desktop Entry]
Name=Tidal
StartupWMClass=Tidal
Exec=firefox --new-window https://listen.tidal.com
StartupNotify=true
Terminal=false
Type=Application
Icon=tidal
Categories=Multimedia;Music;
