[Desktop Entry]
Name=Wunderlist
StartupWMClass=WunderList
Exec=chromium --app=https://wunderlist.com
StartupNotify=true
Terminal=false
Type=Application
Icon=wunderlist
Categories=Office;
