[Desktop Entry]
Name=Wunderlist
StartupWMClass=WunderList
Exec=google-chrome --app=https://wunderlist.com &&xdotool search --sync --classname Wunderlist set_window --class Wunderlist
StartupNotify=true
Terminal=false
Type=Application
Icon=wunderlist
Categories=Office;
