[Desktop Entry]
Name=Wunderlist
Exec=bash -c "chromium-browser --app=https://wunderlist.com --class=WunderList || google-chrome --app=https://wunderlist.com" --class=WunderList
StartupNotify=true
Terminal=false
Type=Application
Icon=wunderlist
Categories=Office;
